source/HrPortal/HrPortal.ViewModels/Service References/ReadService/ReadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26398/ReadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26398/ReadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReadService_GetRequirements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequirements" />
  </wsdl:message>
  <wsdl:message name="IReadService_GetRequirements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequirementsResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IReadService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_GetDownloads_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloads" />
  </wsdl:message>
  <wsdl:message name="IReadService_GetDownloads_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReadService">
    <wsdl:operation name="GetRequirements">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/GetRequirements" message="tns:IReadService_GetRequirements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/GetRequirementsResponse" message="tns:IReadService_GetRequirements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/Login" message="tns:IReadService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/LoginResponse" message="tns:IReadService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloads">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/GetDownloads" message="tns:IReadService_GetDownloads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/GetDownloadsResponse" message="tns:IReadService_GetDownloads_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="readEndPoint" type="tns:IReadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequirements">
      <soap:operation soapAction="http://tempuri.org/IReadService/GetRequirements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IReadService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloads">
      <soap:operation soapAction="http://tempuri.org/IReadService/GetDownloads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadService">
    <wsdl:port name="readEndPoint" binding="tns:readEndPoint">
      <soap:address location="http://localhost:26398/ReadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>